/* SASS FILE FOR ZOOKILLSOCCER */

$primaryColor: #eeffcc;
$secondaryColor: #ddd;
$tertiaryColor: #efe;

body {
	background-color: $tertiaryColor;
}

/* initally hide all screens */
.app-screen {
	display:none;
}